<div class="active mt-3" style="text-align: center;">
    <img 
        class="user-img img-fluid" 
        src="<%= current_user.profile_pic_url %>" 
        alt="profile"
    >

    <div class="user-details current_user" id="<%= current_user._id %>"style="margin: 0 auto;">
        <div class="user-name">
            <strong><%= current_user.firstname %> <%= current_user.lastname %></strong>
            <strong><%= current_user.email %></strong>
            <strong><%= current_user.username %></strong>
        </div>
    </div>
</div>

<div class="msg-search">
    <input type="text" class="msg-search-input" placeholder="search with name">
</div>


<div class="old-msg-container">
    <div class="users">
        <img 
            class="user-img img-fluid" 
            src="/images/1.jpg" 
            alt="profile"
        >

        <div class="user-details" id="1111">
            <div class="user-name">
                HackVerse 2.0
            </div>
            <div class="user-msg-last">
                this is last msg..
            </div>
        </div>
    </div>
</div>